@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-olo: #00FFCC;
  }
}

body {
  @apply bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100;
  transition: background-color 0.3s ease, color 0.3s ease;
}
